<?xml version="1.0" encoding="UTF-8"?>
<web-app
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   metadata-complete="false"
   version="3.1">

  <servlet>
    <servlet-name>ConsultarAssinaturas</servlet-name>
    <servlet-class>org.example.controllers.assinatura.ConsultarAssinaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarAssinaturas</servlet-name>
    <url-pattern>/consulta</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdicionarAssinatura</servlet-name>
    <servlet-class>org.example.controllers.assinatura.AdicionarAssinatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarAssinatura</servlet-name>
    <url-pattern>/adicionar</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SalvarFormulario</servlet-name>
    <servlet-class>org.example.controllers.assinatura.SalvarFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvarFormulario</servlet-name>
    <url-pattern>/SalvarFormulario</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExcluirAssinatura</servlet-name>
    <servlet-class>org.example.controllers.assinatura.ExcluirAssinatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirAssinatura</servlet-name>
    <url-pattern>/excluir</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProcessarExclusao</servlet-name>
    <servlet-class>org.example.controllers.assinatura.ProcessarExclusao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessarExclusao</servlet-name>
    <url-pattern>/confirmacao_exclusao</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AtualizarAssinatura</servlet-name>
    <servlet-class>org.example.controllers.assinatura.AtualizarAssinatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarAssinatura</servlet-name>
    <url-pattern>/atualizar</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProcessarAtualizacao</servlet-name>
    <servlet-class>org.example.controllers.assinatura.ProcessarAtualizacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessarAtualizacao</servlet-name>
    <url-pattern>/salvar_atualizacao</url-pattern>
  </servlet-mapping>

</web-app>